body{
    background-color: antiquewhite;
    color: #111010;
    font-family: 'Gill Sans', 'Gill Sans Mt', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.box {
    border-radius: 25px;
    border: 2px solid #000000;
    background: #d5e7eb;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
}

.box2 {
    border-radius: 25px;
    border: 2px solid #000000;
    background: lightpink;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
}


/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: antiquewhite;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(238, 158, 158);
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: rgb(168, 198, 228);
    color: rgb(0, 0, 0);
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px solid rgb(66, 64, 64);
    padding: 15px;
    text-align: left;
}

/* .ourLogo {
  height: 92px;
  width: 272px; 
  text-align: center;
} */

button {
  background-color: pink; 
  border: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}